* {
  box-sizing: border-box;
}

body {
  font-family: "Exo-2", "Arial", sans-serif;
  color: #242424;
  background-color: #f4f4f5;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  font-family: inherit;
}

svg {
  flex-shrink: 0;
}